.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    background-color: #ccccccaa;
    backdrop-filter: blur(5px); }
  .modal-contents {
    width: 60%;
    height: 60%;
    background-color: white;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 2px 2px 6px black;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .modal-contents > svg {
      font-family: 'Inria Sans';
      font-size: 14pt;
      width: 100%;
      height: 100%; }
    .modal-contents > h3 {
      margin: 0; }

.search-form > input {
  box-sizing: border-box;
  font-size: 0.55em;
  padding: 0.5em;
  margin: 0 0 1em 0;
  width: 100%; }

#search-wrapper > .modal-contents {
  align-items: stretch;
  text-align: left; }

#search-results {
  flex-grow: 1;
  overflow-y: auto; }
  #search-results > ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #search-results > ul li {
      margin: 0; }

a.search-result {
  padding: 0.5em;
  padding-right: 0.75em;
  display: block;
  text-decoration: none; }
  a.search-result, a.search-result:focus, a.search-result:visited, a.search-result:active {
    font-weight: inherit;
    color: inherit; }
  a.search-result:hover, a.search-result:focus {
    background-color: #e2e8f0; }
  li.active > a.search-result {
    border-left: 5px solid #475569; }
  a.search-result h3 {
    margin: 0;
    font-weight: normal;
    font-size: 1em; }
  a.search-result > .search-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    a.search-result > .search-header .search-module {
      margin-left: 0.5em;
      font-size: 0.7em;
      color: #1e293b;
      font-style: italic; }
  a.search-result .search-type {
    font-size: 0.65em; }
  a.search-result .search-match {
    text-decoration: 2px #0054F4 underline; }

.search-error {
  padding: 0.5em;
  color: #7f1d1d;
  background: #fca5a5; }

.unfolded-footnote {
  color: #7f8c8d !important;
  font-style: italic;
  cursor: text; }
  .unfolded-footnote.hover-highlight {
    background-color: unset !important; }
  .unfolded-footnote * {
    pointer-events: initial; }
  .unfolded-footnote em {
    font-style: normal; }

article a[href].unfolded-footnote:hover {
  text-decoration: none !important; }

@font-face {
  font-family: 'iosevka';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/static/woff2/iosevk-abbie-regular.woff2") format("woff2"), url("/static/ttf/iosevk-abbie-regular.ttf") format("truetype"); }

code, pre, .sourceCode {
  font-family: 'Iosevka', 'Fantasque Sans Mono', Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-weight: 500; }

div.sourceCode, pre {
  background-color: #fff;
  color: #222;
  flex-grow: 0;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 6px black;
  border-radius: 10px;
  overflow-x: auto;
  line-height: 1.2; }
  div.sourceCode code, pre code {
    display: block; }
  div.sourceCode > pre, pre > pre {
    padding: unset;
    margin-top: unset;
    margin-bottom: unset;
    box-shadow: unset;
    margin: 0;
    overflow-y: clip; }

pre.Agda {
  border-radius: 0;
  box-shadow: none;
  overflow-y: clip;
  margin: 0;
  padding: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color: #fff;
  color: #222; }

@keyframes highlight {
  0% {
    background-color: #F5DEB3; }
  100% {
    background-color: #fff; } }

a[href].hover-highlight {
  background-color: #F5DEB3; }

/* Aspects. */
.Agda {
  /* NameKinds. */
  /* OtherAspects. */
  /* Standard attributes. */
  font-family: 'iosevka', 'Iosevka', 'Fantasque Sans Mono', 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: initial; }
  .Agda .Comment {
    color: #222;
    font-style: italic; }
  .Agda .Background {
    background-color: #fff; }
  .Agda .Markup {
    color: #222; }
  .Agda .Keyword {
    color: #BB3B13; }
  .Agda .String {
    color: #d52753; }
  .Agda .Number {
    color: #8A1060; }
  .Agda .Symbol {
    color: #222; }
  .Agda .PrimitiveType {
    color: #0054F4; }
  .Agda .Pragma {
    color: #222; }
  .Agda .Bound {
    color: #222 !important; }
  .Agda .Generalizable {
    color: #222 !important; }
  .Agda .InductiveConstructor {
    color: #207B1D !important; }
  .Agda .CoinductiveConstructor {
    color: #207B1D !important; }
  .Agda .Datatype {
    color: #0054F4 !important; }
  .Agda .Field {
    color: #9C1BD6 !important; }
  .Agda .Function {
    color: #0054F4 !important; }
  .Agda .Module {
    color: #8A1060 !important; }
  .Agda .Postulate {
    color: #0054F4 !important; }
  .Agda .Primitive {
    color: #0054F4 !important; }
  .Agda .Record {
    color: #0054F4 !important; }
  .Agda .UnsolvedMeta {
    color: #222;
    background: yellow; }
  .Agda .UnsolvedConstraint {
    color: #222;
    background: yellow; }
  .Agda .TerminationProblem {
    color: #222;
    background: #FFA07A; }
  .Agda .IncompletePattern {
    color: #222;
    background: #F5DEB3; }
  .Agda .Error {
    color: red;
    text-decoration: underline; }
  .Agda .TypeChecks {
    color: #222;
    background: #ADD8E6; }
  .Agda .ShadowingInTelescope {
    color: #222;
    background: #808080; }
  .Agda .Deadcode {
    color: #BB3B13;
    font-weight: bold; }
  .Agda a {
    text-decoration: none; }
  .Agda a[href]:hover {
    text-decoration: 2px #0054F4 underline; }
  .Agda a[href]:target {
    animation: highlight 2.5s; }
  body.text-page .Agda {
    font-size: var(--code-font-size); }

code.kw, span.kw {
  color: #8A1060; }

/* Keyword */
code.dt, span.dt {
  color: #0054F4; }

/* DataType */
code.dv, span.dv {
  color: #BB3B13; }

/* DecVal */
code.bn, span.bn {
  color: #BB3B13; }

/* BaseN */
code.fl, span.fl {
  color: #BB3B13; }

/* Float */
code.ch, span.ch {
  color: #207B1D; }

/* Char */
code.st, span.st {
  color: #207B1D; }

/* String */
code.co, span.co {
  color: #7F848E; }

/* Comment */
code.ot, span.ot {
  color: #207B1D; }

/* Other */
code.al, span.al {
  color: #ff0000; }

/* Alert */
code.fu, span.fu {
  color: #222; }

/* Function */
code.er, span.er {
  color: #ff0000; }

/* Error */
code.wa, span.wa {
  color: #60a0b0; }

/* Warning */
code.cn, span.cn {
  color: #BB3B13; }

/* Constant */
code.sc, span.sc {
  color: #DEB468; }

/* SpecialChar */
code.vs, span.vs {
  color: #0054F4; }

/* VerbatimString */
code.ss, span.ss {
  color: #207B1D; }

/* SpecialString */
code.va, span.va {
  color: #222; }

/* Variable */
code.cf, span.cf {
  color: #8A1060; }

/* ControlFlow */
code.op, span.op {
  color: #207B1D; }

/* Operator */
code.pp, span.pp {
  color: #BB3B13; }

/* Preprocessor */
code.at, span.at {
  color: #207B1D; }

/* Attribute */
code.do, span.do {
  color: #d52753; }

/* Documentation */
code.an, span.an {
  color: #d52753; }

/* Annotation */
code.cv, span.cv {
  color: #d52753; }

/* CommentVar */
.typeTooltip {
  position: absolute;
  z-index: 100;
  font-size: 0.8em;
  color: #222;
  background: #fff; }

html {
  min-height: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
  overflow-x: clip;
  background-color: #fff;
  color: #222; }

:root {
  --serif: "EB Garamond", "Times New Roman", "serif";
  --font-size: 22pt;
  --code-font-size: 18pt; }

body {
  font-family: var(--serif), "Inria Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  font-size: var(--font-size);
  overflow-x: clip;
  background-color: #fff;
  color: #222; }
  body.sans-serif {
    --serif: "";
    --font-size: 18pt;
    --code-font-size: var(--font-size); }
  body.text-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; }
  body.show-equations span.reasoning-step .as-written {
    display: inline; }
  body.show-equations span.reasoning-step .alternate {
    display: none; }
  body span.reasoning-step .as-written {
    display: none; }
  body span.reasoning-step .alternate {
    display: inline; }
  body .footnote-back {
    padding-left: 0.5em; }

main {
  max-width: 100ch;
  width: 100%;
  margin: 0px auto 0px auto;
  flex: 1 0 auto;
  padding: 2ch;
  padding-top: 48px;
  box-sizing: border-box; }
  main div#post-toc-container aside#toc {
    display: none; }
    main div#post-toc-container aside#toc a[href].header-link span {
      display: none; }
  main div#post-toc-container article {
    grid-column: 2;
    line-height: 1.2; }
    main div#post-toc-container article a[href].header-link {
      color: black;
      cursor: default;
      display: flex;
      flex-flow: row nowrap;
      align-items: center; }
      main div#post-toc-container article a[href].header-link:hover {
        text-decoration: none !important;
        background-color: white !important; }
        main div#post-toc-container article a[href].header-link:hover span {
          display: inline-block; }
      main div#post-toc-container article a[href].header-link.hover-highlight {
        background-color: white !important; }
      main div#post-toc-container article a[href].header-link span {
        display: none;
        font-size: 12pt;
        margin-left: 1em;
        cursor: pointer; }
  main div#post-info {
    font-style: italic;
    line-height: 1.2;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-left: 5px dashed #64748b; }

div.warning {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 6px black;
  border-radius: 10px;
  background-color: #fef08a; }

div.asides {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  div.asides * {
    margin: 0; }

figure.wraparound {
  float: right;
  width: auto;
  margin-left: 2em; }

figure {
  overflow-x: auto;
  overflow-y: clip;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  figure figcaption {
    margin-top: 0.3em;
    display: inline-block; }
  figure p {
    margin: 0; }

ol, ul {
  padding-left: 1.2em; }
  ol li, ul li {
    margin-top: 5px;
    margin-bottom: 5px; }
    ol li p, ul li p {
      margin-top: 10px;
      margin-bottom: 10px; }

span.katex {
  font-size: inherit;
  line-height: inherit; }

span.abbrev {
  text-decoration: 2px dotted underline; }

.katex-display > span.katex {
  white-space: normal; }

div.mathpar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em; }
  div.mathpar > figure {
    max-width: 33%;
    padding: 0.75em;
    width: auto !important; }
  div.mathpar .diagram-container {
    width: unset; }

div.columns blockquote, div.columns details.blockquote {
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border: 0; }

p > code {
  white-space: nowrap;
  font-size: var(--code-font-size); }

blockquote, details.blockquote {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 6px black;
  border-radius: 10px;
  background-color: #f3e8ff;
  margin-left: 0;
  margin-right: 0; }
  blockquote h2, details.blockquote h2 {
    margin-top: 0; }

table {
  margin: auto;
  border-collapse: collapse; }
  table td, table th {
    text-align: center;
    padding: 0px 1em 0px 1em; }

@media only screen and (max-width: 450px) {
  body > header div#logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; } }

@media only screen and (min-width: 1500px) {
  .narrow-only {
    display: none !important; }
  main {
    max-width: 100%;
    padding: 0;
    padding-bottom: 0.4em; }
    main div#post-toc-container {
      display: grid;
      grid-template-columns: 0.5fr 2fr 0.5fr; }
      main div#post-toc-container aside#toc {
        display: block !important;
        margin-right: 1em; }
        main div#post-toc-container aside#toc h3 {
          display: flex;
          flex-direction: column;
          align-items: center; }
        main div#post-toc-container aside#toc div#toc-container {
          box-sizing: border-box;
          overflow-x: hidden;
          position: sticky;
          top: 2em;
          overflow-y: auto;
          max-height: 90vh;
          bottom: 2em;
          padding-right: 1em;
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          width: 100%; }
          main div#post-toc-container aside#toc div#toc-container a[href]#logo.hover-highlight {
            background-color: unset; }
          main div#post-toc-container aside#toc div#toc-container > hr {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
            width: 100%;
            border: none;
            border-bottom: 2px solid #94a3b8; }
          main div#post-toc-container aside#toc div#toc-container > svg {
            font-family: 'Inria Sans';
            min-height: 150px;
            aspect-ratio: 1 / 1;
            font-size: 14pt; }
          main div#post-toc-container aside#toc div#toc-container button {
            display: none; }
          main div#post-toc-container aside#toc div#toc-container ul {
            border-left: 2px solid #94a3b8;
            list-style-type: none;
            padding-left: 1em;
            margin-top: 0;
            margin-bottom: 0; }
            main div#post-toc-container aside#toc div#toc-container ul a {
              text-decoration: none; }
            main div#post-toc-container aside#toc div#toc-container ul a:hover {
              text-decoration: underline; }
      main div#post-toc-container article {
        max-width: 100ch;
        margin-top: -100px;
        margin: auto; }
    main div.columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em; } }

details {
  margin-top: 1em;
  margin-bottom: 1em; }

details:not(.text) {
  border-left: 5px solid #00bcd4;
  padding-left: 1em; }

details.text {
  border: 3px solid #b2ebf2;
  transition: border 0.3s ease-in-out; }
  details.text > summary {
    list-style-type: none;
    background-color: #b2ebf2;
    border-left: 1em solid #b2ebf2;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 1em;
    transition: background-color 0.3s ease-in-out, border-left 0.3s ease-in-out;
    cursor: pointer; }
    details.text > summary:hover::after {
      text-decoration: underline; }
    details.text > summary::after {
      content: 'read more';
      font-style: italic;
      margin-left: 0.223em;
      color: black; }
    details.text > summary > :nth-child(1) {
      margin-top: 0; }
  details.text[open] {
    border: 3px solid #80deea; }
    details.text[open] summary {
      border-left: 1em solid #80deea;
      background-color: #80deea; }
      details.text[open] summary::after {
        content: 'read less'; }
  details.text:not([open]):hover {
    border: 3px solid #80deea; }
  details.text:not([open]) summary:hover {
    border-left: 1em solid #80deea;
    background-color: #80deea; }
    details.text:not([open]) summary:hover::after {
      text-decoration: underline; }
  details.text > *:not(summary) {
    margin-left: 1em;
    margin-right: 1em; }

div.profile {
  border-top: 2px solid #444;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 1em; }
  div.profile.pfp-left {
    flex-direction: row; }
  div.profile.pfp-right {
    flex-direction: row-reverse; }
  div.profile .profile-pfp {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
  div.profile .profile-pfp p {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 20%; }
    div.profile .profile-pfp p img {
      width: 128px;
      height: 128px;
      clip-path: url(#squircle);
      margin-bottom: 0.25em; }
    div.profile .profile-pfp p p {
      margin: 0; }
    div.profile .profile-pfp p .profile-name {
      font-size: 19pt; }
    div.profile .profile-pfp p .profile-pronouns {
      font-style: italic; }

.author-list {
  margin-top: 0.5em;
  white-space: initial;
  font-size: 0.8em;
  font-style: italic; }

.smallcaps {
  font-variant: small-caps; }

div.diagram-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 1em;
  margin-bottom: 1em; }
  div.diagram-container img.diagram {
    height: 200px;
    margin: auto;
    display: block;
    overflow-x: auto; }
    div.diagram-container img.diagram.short-05 {
      height: 150px; }
    div.diagram-container img.diagram.short-1 {
      height: 105px; }
    div.diagram-container img.diagram.short-15 {
      height: 80px; }
    div.diagram-container img.diagram.short-2 {
      height: 55px; }
    div.diagram-container img.diagram.tall-1 {
      height: 250px; }
    div.diagram-container img.diagram.tall-2 {
      height: 350px; }

article a[href], div#return > a[href], div#top > a[href], aside#toc > div#toc-container ul a[href] {
  color: #0054F4;
  text-decoration: none; }
  article a[href]:hover, div#return > a[href]:hover, div#top > a[href]:hover, aside#toc > div#toc-container ul a[href]:hover {
    text-decoration: 2px currentColor underline !important; }
  article a[href]:visited, div#return > a[href]:visited, div#top > a[href]:visited, aside#toc > div#toc-container ul a[href]:visited {
    color: #9C1BD6; }

div#return {
  text-align: center; }

article {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 0 !important;
  max-width: 100%; }
  article > :nth-child(1), article > pre.Agda:first-of-type {
    margin-top: 0;
    padding-top: 0; }
  article #article-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  article > p {
    width: 100%; }
  article > figure > figcaption {
    text-align: center;
    font-style: italic; }

hr {
  color: #ABB2BF;
  margin-top: 1em;
  margin-bottom: 1em; }

span.qed {
  float: right; }
